embed,
iframe,
object {
    max-height: 100%;
}

@-webkit-keyframes hoverWave {
    0% {
        box-shadow: 0 8px 10px rgba(255, 153, 153, 0.3), 0 0 0 0 rgba(255, 153, 153, 0.2),
            0 0 0 0 rgba(255, 153, 153, 0.2);
    }
    40% {
        box-shadow: 0 8px 10px rgba(255, 153, 153, 0.3), 0 0 0 15px rgba(255, 153, 153, 0.2),
            0 0 0 0 rgba(255, 153, 153, 0.2);
    }
    80% {
        box-shadow: 0 8px 10px rgba(255, 153, 153, 0.3), 0 0 0 30px rgba(255, 153, 153, 0),
            0 0 0 26.7px rgba(255, 153, 153, 0.067);
    }
    100% {
        box-shadow: 0 8px 10px rgba(255, 153, 153, 0.3), 0 0 0 30px rgba(255, 153, 153, 0),
            0 0 0 40px rgba(255, 153, 153, 0);
    }
}
@keyframes hoverWave {
    0% {
        box-shadow: 0 8px 10px rgba(255, 153, 153, 0.3), 0 0 0 0 rgba(255, 153, 153, 0.2),
            0 0 0 0 rgba(255, 153, 153, 0.2);
    }
    40% {
        box-shadow: 0 8px 10px rgba(255, 153, 153, 0.3), 0 0 0 15px rgba(255, 153, 153, 0.2),
            0 0 0 0 rgba(255, 153, 153, 0.2);
    }
    80% {
        box-shadow: 0 8px 10px rgba(255, 153, 153, 0.3), 0 0 0 30px rgba(255, 153, 153, 0),
            0 0 0 26.7px rgba(255, 153, 153, 0.067);
    }
    100% {
        box-shadow: 0 8px 10px rgba(255, 153, 153, 0.3), 0 0 0 30px rgba(255, 153, 153, 0),
            0 0 0 40px rgba(255, 153, 153, 0);
    }
}
/* chat button */
.img-container {
    position: fixed;
    z-index: 999;
    right: 4%;
    bottom: 10%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.img-container__chat-icon {
    height: 90px;
    width: 100px;
    max-width: 100px;
}
/* Получено новое смс */
.sms-received {
    -webkit-animation: hoverWave linear 1s infinite;
    animation: hoverWave linear 1s infinite;
    box-shadow: 0 8px 10px #fdbc8c80;
}
.alert-sms {
    display: none;
    position: absolute;
    top: 20%;
    right: 18%;
    width: 16px;
    height: 16px;
    margin: 0;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 50%;
}
.sms-received .alert-sms__active {
    display: flex;
}
/* chat window */
.chatbox-container {
    display: none;
    width: 390px;
    height: 450px;
    border: 2px solid #808080;
    position: fixed;
    z-index: 90;
    right: 4%;
    bottom: 5%;
    padding: 50px 10px 0;
    background: #ded9d9;
    flex-direction: column-reverse;
}
@media (max-width: 480px) {
    .chatbox-container {
        display: none;
        width: 98%;
        height: 80vh;
        right: 1%;
        bottom: 3%;
    }
}
.chatbox-container__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background: #808080;
}
.chatbox-container__title {
    margin: 0;
    font-family: "Roboto";
    color: #ffffff;
}
.chatbox-container__close {
    position: relative;
    width: 22px;
    height: 22px;
}
.chatbox-container__close:hover {
    cursor: pointer;
}
.chatbox-container__close:before,
.chatbox-container__close:after,
.gm-ui-hover-effect:before,
.gm-ui-hover-effect:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 22px;
    width: 2px;
    /*background-color: #ffffff;*/
    background-color: #000;
}
.chatbox-container__close:before {
    transform: rotate(45deg);
}
.chatbox-container__close:after {
    transform: rotate(-45deg);
}
/* sms window */
.chatbox-container__main {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: 0 0 10px;
}
.chatbox-container__sms-container {
    width: 100%;
    margin: 3px 0;
    display: flex;
}
.chatbox-container__sms-body {
    width: 85%;
    background: #ffffff;
    padding: 7px 5px;
    border-radius: 5px;
}
.chatbox-container__sms-text {
    margin: 0;
    word-break: break-all;
}
.chatbox-container__sms-owner {
    text-decoration: underline;
    color: red;
    margin: 0;
    padding: 0;
}
.chatbox-container__sms-opponent {
    text-decoration: underline;
    margin: 0;
    padding: 0;
}
.chatbox-container__sms-opponent a{
    color: black;
}
.chatbox-container__sms-time {
    margin: 15px 0 0 8px;
}
/* sms window - scroll */
.chatbox-container__main::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
.chatbox-container__main::-webkit-scrollbar-button {
    display: none;
}
.chatbox-container__main::-webkit-scrollbar-track {
    background-color: #999;
}
.chatbox-container__main::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
}
.chatbox-container__main::-webkit-scrollbar-thumb {
    height: 20px;
    background-color: #666;
    border-radius: 3px;
}
.chatbox-container__main::-webkit-scrollbar-corner {
    background-color: #999;
}
.chatbox-container__main::-webkit-resizer {
    background-color: #666;
}
/* textarea */
.chatbox-container__textarea-container {
    position: relative;
    padding: 15px 10px 10px 0;
}
.chatbox-container__textarea-container:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #b4b4b4;
}
.chatbox-container__form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.chatbox-container__textarea {
    width: 85%;
    resize: none;
    border-radius: 5px;
    padding: 5px 10px;
}
.chatbox-container__textarea:first-letter {
    text-transform: uppercase;
}
.chatbox-container__textarea:focus {
    outline: none;
}
.chatbox-container__send-btn {
    display: flex;
    border-style: none;
    background: transparent;
    align-items: center;
}
.chatbox-container__send-btn:focus {
    outline: none;
}
.chatbox-container__send-ico {
    width: 30px;
    max-width: 30px;
    height: 30px;
}
/* profile page */
.edit-button__container {
    width: 30px;
    height: 30px;
}
.pos-relative {
    position: relative;
}
.sl-office-page__container {
    position: absolute;
    right: 0;
    z-index: 25;
}
.edit-button__icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}
.name-change {
    margin: 0;
}
.btn-save {
    margin: 0 10px;
}
.btn-save:focus {
    outline: none;
}
.btn-save:hover {
    color: red;
    text-decoration: underline;
}
.phone-email-container {
    background: #D0D0D0;
    margin: 30px 0 0 0;
    flex-wrap: wrap;
    min-height: 29px;
}
.phone-email-container .py-5 {
    margin: 0 50px 0 40px;
}
.sl-office-page__purchase-history {
    background: #D0D0D0;
}
.sl-office-page__img {
    position: relative;
}
.sl-office-page__img:hover .sl-office-page__icon {
    opacity: 1;
}
.sl-office-page__icon {
    opacity: 0.0;
    right: unset;
    bottom: 5%;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
.sl-office-page__icon .edit-button__icon{
    width: 50px;
}
.sl-office-page__contact {
    padding-right: 34px;
}
.py-5__flex {
    display: flex;
    align-items: center;
}
.py-5__container {
    width: 20px;
    height: 20px;
    display: flex;
    margin-left: auto;
    margin-right: 11px;
}
.form-group {
    margin: 0;
}
.js__about {
    position: relative;
}
.sl-title-line-dark .sl-office-page__container {
    top: 0;
}
.flex-col-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.card-title {
    margin: 20px 0 5px;
}
.sl-office-page__card-img {
    max-width: 210px;
    margin-bottom: 10px;
}
.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}
.checkbox + label {
    position: absolute;
    right: 0;
    padding: 0 60px 0 0;
    cursor: pointer;
}
.checkbox + label:before {
    content: "";
    position: absolute;
    top: 8px;
    right: 0px;
    width: 44px;
    height: 13px;
    border-radius: 13px;
    background: #cdd1da;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}
.checkbox + label:after {
    content: "";
    position: absolute;
    top: 4px;
    right: 26px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: red;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}
.checkbox:checked + label:before {
    background: rgb(219, 92, 92);
}
.checkbox:checked + label:after {
    right: 0px;
}

.sl-form-cart {
    max-width: 570px;
    background-color: #e6e6e7;
    border-radius: 5px;
    border-top: 7px solid red;
    padding: 18px 18px 20px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.35);
    text-align: left;
    position: relative;
}
.cart-pos {
    position: relative;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid #666;
    padding: 0 30px 0 0;
}
.cart-pos:last-child {
    border-bottom: 1px solid #666;
}
.cart-pos__title {
    padding: 10px 0;
    margin: 0;
}
.cart-pos__price {
    margin: 0;
    text-align: center;
    width: 110px;
    padding: 10px 0;
    color: red;
    background: #e8cdc2;
}
.button-buy {
    width: 110px;
    height: 35px;
    border-radius: 3px;
    background-color: red;
    border: 0;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 300;
    transition: all 0.3s;
}
.cart-total {
    background: #cecccc;
    margin: 20px 0 10px;
    padding: 10px 30px 10px 10px;
    width: 100%;
    justify-content: space-between;
}
.cart-total__title {
    margin: 0;
}
.cart-total__price {
    color: red;
    margin: 0;
}
.hidden_important {
    display: none !important;
}

.gm-ui-hover-effect img {
    display: none !important;
}
.cart-pos__delete {
    position: absolute;
    right: 5px;
    top: calc(50% - 11px);
    width: 22px;
    height: 22px;
}
.cart-pos__delete:hover {
    cursor: pointer;
}
.cart-pos__delete:before,
.cart-pos__delete:after {
    position: absolute;
    left: 15px;
    content: "";
    height: 22px;
    width: 1px;
    /*background-color: #666;*/
    background-color: #000;
}
.gm-ui-hover-effect:before,
.cart-pos__delete:before {
    transform: rotate(45deg);
}
.gm-ui-hover-effect:after,
.cart-pos__delete:after {
    transform: rotate(-45deg);
}

.gm-style .gm-style-iw-t::after {
    background-color: #e6e6e7 !important;
}
/*google base for popup*/
.gm-style-iw.gm-style-iw-c {
    padding: 0 !important;
}
.gm-style-iw-d,
.popup-basic {
    width: 326px;
    background-color: #e6e6e7;
    border-radius: 5px;
    border-top: 7px solid red;
    padding: 18px 18px 20px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.35);
    text-align: left;
    overflow: hidden !important;
}
@media (max-width: 480px) {
    .popup-basic {
        padding: 18px 9px 20px;
        width: 300px;
    }
}
.popup-buy {
    position: absolute;
    left: 0;
    top: 0%;
    z-index: 9999;
}
.popup-buy__close,
.gm-ui-hover-effect {
    position: absolute;
    right: 3%;
    top: 3%;
}
.gm-ui-hover-effect {
    right: 5px !important;
    top: -5px !important;
}
.poi-info-window.gm-style div,
.poi-info-window.gm-style a{
    background-color: #e6e6e7;
}
.popup-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    margin: 0;
    overflow: auto;
    height: fit-content;
    max-height: 95px;
}

@media all and (max-width: 768px){
    .popup-text {
        max-height: 90px;
    }
}
@media all and (max-width: 480px){
    .popup-buy__choise.popup-text {
       display: none;
    }
}
.popup-buy__title {
    font-size: 22px;
}
.popup-buy__description {
    font-size: 15px;
}
.popup-buy__img-container {
    max-width: 100%;
    height: 50px;
    margin: 10px 0;
}
.popup-buy__img {
    max-width: 100% !important;
    height: 100%;
    object-fit: contain;
}

.popup-buy__btns-container {
    width: 100%;
    padding: 20px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.button-buy__book {
    padding: 0 7px;
    height: 35px;
    border-radius: 3px;
    background-color: red;
    border: 0;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 300;
    transition: all 0.3s;
}
.button-buy__book.reserved {
    background-color: #c1c1c1;
}
.button-buy__later {
    display: inline-block;
    color: #3e77aa;
    font-size: 1rem;
    line-height: 1.8;
    text-decoration: underline;
    background: transparent;
    border-style: none;
}
.button-buy__book:focus,
.button-buy__later:focus {
    outline: none;
}
.popup-inform {
    display: none;
    overflow: auto !important;
    position: absolute;
    left: calc(50% - 163px);
    top: 30%;
    z-index: 9999;
    max-height: 400px;
}
@media (max-width: 480px) {
    .popup-inform {
        left: calc(50% - 150px);
    }
}
.popup-inform__title {
    font-size: 22px;
    margin: 0 0 15px;
}
.popup-inform__description {
    margin: 0 0 15px;
}
.popup-inform__description:last-child {
    margin: 0;
}
/* popup-owner */
.popup-owner {
    position: absolute;
    left: 700px;
    top: 0;
    z-index: 9999;
}
.popup-owner__info-container {
    display: flex;
    padding: 0 0 10px;
    border-bottom: 1px solid #c3bdbd;
    box-sizing: border-box;
    margin: 0 0 10px;
}
.popup-owner__img-container {
    min-width: 75px;
    max-width: 75px;
    height: 75px;
}
.popup-owner__img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}
.popup-owner__info {
    margin: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.popup-owner__info h3 {
    clear: both;
    margin: 0 0 0px;
    padding: 0px 0 0;
    line-height: 1.25;
    font-weight: 500;
}
.name-img-container {
    display: flex;
    align-items: center;
}
.popup-owner__info-name {
    margin: 0 0 0 10px;
    font-size: 17px;
    word-break: break-word;
    text-decoration: underline;
    color: #3e77aa;
}
.popup-owner__info .sl-office-page__flag {
    width: 30px;
    height: 30px;
    object-fit: contain;
}
.popup-owner__info-statistic {
    display: flex;
}
.popup-owner__content-container {
    width: 100%;
    height: 120px;
    margin: 7px 0;
}
.popup-owner__content {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@media (min-width: 360px) {
    .update-name {
        padding: 0 15px;
    }
}
@media (max-width: 767px) {
    .container-wrap {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .checkbox + label:before {
        top: 4px;
    }
    .checkbox + label:after {
        top: 0px;
    }
}
@media (max-width: 480px) {
    .phone-email-container .py-5 {
        margin: 0 0 0 15px;
    }
    .update-name {
        flex-wrap: wrap;
    }
}
@media (max-width: 360px) {
    .checkbox + label {
        color: transparent;
    }
}

.buy-form {
    width: 100%;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
}
@media all and (max-width: 768px){
    .buy-form {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
.page-content img{
    margin-right: 15px;
}
.page-content h3{
    line-height: 1.2;
    position: relative;
    padding-bottom: 15px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 1.875rem!important;
}
.page-content h3:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 88px;
    height: 4px;
    background-color: #000;
}

.sl-sidebar .sl-rating {
    /*max-height: 280px;*/
    /*height: auto;*/
}
.sl-form-login__form.reset-pass{
    flex: 0 0 100%;
    max-width: 100%;
}
#js__edit-button__container{
    right: -23px;
}

.current-info{
    color: #52524f;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    right: 15px;
    bottom: 15px;
}
.gmnoprint, .gmnoprint, .gm-fullscreen-control, .gm-style-cc{
    display: none;
}

.sl-adminbar__personal-area.cart-block{
    margin: 0px 19px;
    padding: 0px;
}
.sl-adminbar .sl-adminbar__admin #open_cart_btn:after{display: block;
    content: ' ';
    width: 100%;
    height: 100%;
    background-image: url(../images/icon-cart.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 55%;
    position: absolute;
    top: 0px;
    left: -2px;
}
.sl-adminbar .sl-adminbar__admin #open_cart_btn{
    width: 45px;
    height: 45px;
    position: absolute;
    display: block;
    z-index: 115;
    background-color: red;
}
@media all and (max-width: 768px){
    .sl-adminbar .sl-adminbar__admin #open_cart_btn {
        width: 35px;
        height: 30px;
    }
}
.sl-office-page__contact_map_mod {
    display: flex;
    align-items: center;
}
.sl-office-page__contact_map_mod:before {
    width: 22px;
    height: 20px;
    content: ' ';
    margin-right: 10px;
    background-image: url(../images/icon-map.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.comments-block img {
    overflow: hidden;
    border-radius: 50%;
    width: 47px;
    height: 47px;
    display: block;
    margin-right: 10px;
    max-width: 100%;
}
.comments-block .alert {
    background-color: #e6e6e7;
    border-color: #e6e6e7;
    border-radius: 5px;
    border-top: 7px solid red;
    color: black;
}
.comments-block .list-unstyled{
    margin: 0px;
}
.comments-block .card .card-body{
    padding: 0px;
}
.comments-block .card{
    border: none;
    background-color: #dcdcdc;
}
.comments-block .card .btn{
    margin-top: 20px;
    width: 110px;
    height: 35px;
    border-radius: 3px;
    background-color: red;
    border: 0;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 300;
    transition: all .3s;
}
.sl-form-reply-comment form{
    width: 100%;
}
.sl-form-reply-comment {
    max-width: 570px;
    background-color: #e6e6e7;
    border-radius: 5px;
    border-top: 7px solid red;
    padding: 18px 18px 20px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .35);
    text-align: left;
    position: relative;
}


.sl-office-page-col.rating-page .sl-img {
    overflow: hidden;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    display: block;
}
.sl-office-page-col.rating-page table thead th,
.sl-office-page-col.rating-page table tbody td{
    vertical-align: inherit;
}
.sl-office-page-col.rating-page table tbody tr>th{
    width: 10%;
}
.sl-office-page-col.rating-page table tbody .tracks-count{
    width: 10%;
}
.sl-office-page-col.rating-page table tbody .name{
    font-weight: 500;
}

#ico_tracks_loader{
    position: absolute;
    z-index: 1;
    color: red;
    font-size: 14px;
    font-weight: 400;
    margin: 5px;
}
#ico_tracks_loader.loading:after {
    content: "...";
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: loading-dots 1s infinite .3s;
    animation-fill-mode: fowards;
    width: 1.25em;
}
@keyframes loading-dots {
    25% {
        content: "";
    }
    50% {
        content: ".";
    }
    75% {
        content: "..";
    }
    100% {
        content: "...";
    }
}