<template>
    <div class="chat">
        <div class="img-container callback-bt js__img-container"
             v-bind:class="{ 'sms-received': isNewMsg }"
             v-on:click="openChat" id="chat_btn">

            <p class="alert-sms alert-sms__active">!</p>
            <img class="img-container__chat-icon" src="/images/chat.png" alt="">
        </div>

        <div class="chatbox-container js__chatbox-container" id="chat">
            <div class="chatbox-container__textarea-container">
                <form id="js__chatbox-container__form" action="" class="chatbox-container__form">
                    <textarea name="message" id="js__chatbox-container__textarea" class="chatbox-container__textarea"
                              @keyup.enter="sendMessage"
                              v-model="newMessage"></textarea>
                    <div class="chatbox-container__send-btn" v-on:click="sendMessage">
                        <img class="chatbox-container__send-ico" src="/images/Rectangle.png" alt="send">
                    </div>
                </form>
            </div>

            <div id="js__chatbox-container__main" class="chatbox-container__main" v-chat-scroll>

                <div class="chatbox-container__sms-container" v-for="(message, index) in messages" :key="index">
                    <div class="chatbox-container__sms-body">
                        <p class="chatbox-container__sms-text">
                            <strong v-bind:class="getMessageUserClass(message.user)">
                                <a v-bind:href="getProfileLink(message.user.id)">{{ message.user.name }}</a>
                            </strong>
                            {{ message.message }}
                        </p>
                    </div>
                    <p class="chatbox-container__sms-time" v-bind:title="moment.utc(message.created_at).local().format('llll')" >
                        {{ moment.utc(message.created_at).local().format('hh:mm') }}
                    </p>
                </div>

            </div>

            <div class="chatbox-container__header">
                <p class="chatbox-container__title">ОНЛАЙН ЧАТ</p>
                <span class="chatbox-container__close js__chatbox-container__close"></span>
            </div>
        </div>
    </div>
</template>

<script>
    var moment = require('moment');
    export default {
        props:['user'],
        data() {
            return {
                messages: [],
                newMessage: '',
                users: [],
                activeUser: false,
                typingTimer: false,
                isNewMsg: false
            }
        },
        created() {
            this.fetchMessages();
            Echo.channel('chat')
                .listen('MessageSent',(event) => {
                    this.indicateNewMsg();

                    // this.messages.push(event.message);
                    Vue.set(
                        this.messages,
                        Object.keys(this.messages).length,
                        event.message);
                })
        },
        methods: {
            fetchMessages() {
                axios.get('messages').then(response => {
                    this.messages = response.data;
                })
            },
            sendMessage() {
                if(!this.canChat()){
                    window.showNotif('Вам треба придбати хочаб один слід!', 'Помилка!',);
                }else if(this.isBlocked()){
                    window.showNotif('Вим заблоковано доступ до чату!', 'Помилка!');
                }else{
                    this.querySendMessege();
                }
            },
            querySendMessege(){
                axios.post('messages', {message: this.newMessage});

                Vue.set(
                    this.messages,
                    Object.keys(this.messages).length,
                    {user: this.user, message: this.newMessage});

                this.newMessage = '';
            },
            canChat(){
                if(this.user){
                    return Boolean(this.user.tracks_count);
                }else{
                    $("[data-remodal-id=login]").remodal().open();
                    return false;
                }
            },
            isBlocked(){
                if(this.user.is_ban){
                    return true;
                }
            },
            getMessageUserClass(msgOwner) {
                return msgOwner.id === 1 ? 'chatbox-container__sms-owner' : 'chatbox-container__sms-opponent';
            },
            indicateNewMsg() {
                if(window.getComputedStyle(chat).display == 'none'){
                    this.isNewMsg = true;
                }
            },
            openChat() {
                $(".js__img-container").css("display", "none");
                $(".js__chatbox-container").fadeIn();
                $(".js__chatbox-container").css("display", "flex");
                this.isNewMsg = false;
            },
            getProfileLink(user_id) {
                return  '/user/' + user_id + '/profile';
            }
        }
    }
</script>